.App {
  text-align: center;
}

.Header {
  border-bottom: 1px solid;
  text-align: center;
  color: white;
  background-color: cornflowerblue;
  min-height: 70px;
  padding-top: 20px;
}

.footer {
  color: white;
  background-color: darkgray;
  text-align: center;
  border-top: 1px solid;
  position: fixed;
  bottom: 0rem;
  width: 100%;
}

.state-dropdown {
  width: 200px;
}

/* .body-controls {
  margin: 10px;
  display: flex;
} */

@media screen and (min-width: 900px) {
  .body-controls {
    margin: 15px;
    display: flex;
  }
}

@media screen and (max-width: 899px) {
  .search-button-wrapper {
    margin-top: 10px;
  }
}

.dropdown-wrapper {
  margin-left: 20px !important;
}

.cowin-link {
  position: absolute;
  right: 1rem;
  top: 70px;
}